h1 {
    color:#A52A2A;
}

* {
    border: solid;
}

.header{
    background-color:#7FC7C4;
    display:flex;
    color:#A52A2A;
    justify-content:space-between;
}

.game{
    background-color:#7FC7C4;
    color:#A52A2A;
    justify-content:flex;
}